<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>D5 Smart Meter - Team C</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../../NiceAdmin/assets/img/favicon.png" rel="icon">
  <link href="../NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css')}}" />

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}" />


  <!-- =======================================================
  * Template Name: ../NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="../NiceAdmin/assets/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">Team C - Smart Meter</span>
      </a>
    </div><!-- End Logo -->

  </header><!-- End Header -->


  <main id="main" class="main ms-0">

    <div class="pagetitle">
      <h1>Overview</h1>
    </div><!-- End Page Title -->

    <!-- Reports -->
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Energy Flow<span>/Today</span></h5>

          <!-- Line Chart -->
          <div id="reportsChart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#reportsChart"), {
                series: [{
                  name: 'Loads',
                  data: [31, 40, 28, 51, 42, 82, 56],
                }, {
                  name: 'Total Supplies',
                  data: [11, 32, 45, 32, 34, 52, 41]
                }, {
                  name: 'Renewable Energy',
                  data: [15, 11, 32, 18, 9, 24, 11]
                }, {
                  name: 'Battery',
                  data: [0, 10, 20, 30, 40, 50, 60]
                }],
                chart: {
                  height: 400,
                  type: 'area',
                  toolbar: {
                    show: true
                  },
                },
                markers: {
                  size: 4
                },
                colors: ['#ff771d','#4154f1' ,'#2eca6a' , '#fcba03'],
                fill: {
                  type: "gradient",
                  gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.2,
                    opacityTo: 0.3,
                    stops: [0, 90, 100]
                  }
                },
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  curve: 'straight',
                  width: 2
                },
                xaxis: {
                  type: 'datetime',
                  categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                tooltip: {
                  x: {
                    format: 'dd/MM/yy HH:mm'
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->

        </div>

      </div>
    </div><!-- End Reports -->

    <div class="pagetitle">
      <h1>Controls</h1>
    </div><!-- End Page Title -->

    <div class="pagetitle">
      <h1>Smart Assist</h1>
    </div><!-- End Page Title -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer ms-0">
    <div class="copyright mb-3"> <strong><span>Team C</span></strong> | D5 - Smart Meter Design 23/24</div>
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>


</body>

</html>